# Server
PORT=5000
NODE_ENV=development

# MongoDB (leave empty for in-memory, set for Atlas)
MONGODB_URI=
FRONTEND_URL=

# JWT
JWT_SECRET=teespace_jwt_secret_change_in_production

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_API_URL=https://api-m.sandbox.paypal.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
